extends layout

block content

    div(class="container")
        h1= title
        h2 Weather in !{wx.location.name}, !{wx.location.state} (!{wx.location.county}, !{wx.location.country}) as of !{wx.currentTime}

        h3
            a(href=`https://www.google.com/maps/place/${wx.location.name},+${wx.location.state}/@${wx.location.latitude},${wx.location.longitude},12z/`) Map ↗

        img(src=`http://openweathermap.org/img/wn/${wx.conditions.iconCode}.png`)

        p Current weather condition: !{wx.conditions.condition} (!{wx.conditions.conditionDescription})

        p !{wx.waxColor}


        table(style="width:50%;")
            tr
                td(style="border-bottom: 1px solid black;") Sunrise/Sunset
                td(style="border-bottom: 1px solid black;") !{wx.sunrise}
                td(style="border-bottom: 1px solid black;") !{wx.sunset}
            tr
                td(style="border-bottom: 1px solid black;") Current Temp
                td(style="border-bottom: 1px solid black;") !{wx.temps.currentTempC}&deg;C
                td(style="border-bottom: 1px solid black;") !{wx.temps.currentTempF}&deg;F
            tr
                td(style="border-bottom: 1px solid black;") High
                td(style="border-bottom: 1px solid black;") !{wx.temps.tempHighC}&deg;C
                td(style="border-bottom: 1px solid black;") !{wx.temps.tempHighF}&deg;F
            tr
                td(style="border-bottom: 1px solid black;") Low
                td(style="border-bottom: 1px solid black;") !{wx.temps.tempLowC}&deg;C
                td(style="border-bottom: 1px solid black;") !{wx.temps.tempLowF}&deg;F
            tr
                td(style="border-bottom: 1px solid black;") Feels like
                td(style="border-bottom: 1px solid black;") !{wx.temps.feelsLikeC}&deg;C
                td(style="border-bottom: 1px solid black;") !{wx.temps.feelsLikeF}&deg;F
            tr
                td(style="border-bottom: 1px solid black;") Wind
                td(style="border-bottom: 1px solid black;") !{wx.conditions.windSpeed} m/s
                td(style="border-bottom: 1px solid black;") !{wx.conditions.windDirection}&deg;
            tr
                td(style="border-bottom: 1px solid black;") Humidity
                td(style="border-bottom: 1px solid black;") !{wx.conditions.humidity}%
                td(style="border-bottom: 1px solid black;")
            tr
                td(style="border-bottom: 1px solid black;") Pressure
                td(style="border-bottom: 1px solid black;") !{wx.conditions.pressure} hPa
                td(style="border-bottom: 1px solid black;")

        hr

        h3 Forecast for now lol

        p Forecast: !{fa}

        hr

        h3
            a(href="/") Check out more weather!
