extends layout

block content
    div(class="construction-zone" style="width: 100%; margin: 0 auto; padding: 5px; background-color: orangered; text-align: center;")
        h3 Under construction! Check back later for improvements & updates!
    div(class="container")
        h1= title
        h2 Weather in !{weather.name}, !{weather.sys.country} (!{weather.coord.lat}, !{weather.coord.lon})

        p Current weather condition: !{weather.weather[0].main} (!{weather.weather[0].description})

        p Current temperature: !{Math.round(weather.main.temp - 273.15)} C | !{Math.round((weather.main.temp - 273.15) * 9/5 + 32)} F
        p Hi: !{Math.round(weather.main.temp_max - 273.15)} C | !{Math.round((weather.main.temp_max - 273.15) * 9 / 5 + 32)} F
        p Lo: !{Math.round(weather.main.temp_min - 273.15)} C | !{Math.round((weather.main.temp_min - 273.15) * 9 / 5 + 32)} F
        p Feels like: !{Math.round(weather.main.feels_like - 273.15)} C | !{Math.round((weather.main.feels_like - 273.15) * 9 / 5 + 32)} F
        p Pressure: !{weather.main.pressure}mB
        p Humidity: !{weather.main.humidity}%

        div(class="get-weather-form")
            form(action='/get-weather', method='POST')
                p
                    | zipcode:
                    input(type='text', name='zipcode', value='')
                input(type='submit', value='Get ze Weather!')

        a(href="/") ← Back
