<%- include('../partials/header') %>
<%- include('../partials/head') %>

<div class="container">
    <h2>Weather in <a href="<%= wx.mapUrl ;%>"> <%= wx.location.name ;%>, <%= wx.location.state ;%></a>
        (<%= wx.location.county ;%>, <%= wx.location.country ;%>)</h2>
    <h3><%= wx.currentTime ;%></h3>
    <h3><a href="/">← Back</a></h3>

    <div class="current-conditions-outer col-md-12" style="display: flex; flex-direction: row;">
        <div class="card col-md-6" style="width: 18rem;">
            <h5 class="card-title" style="text-align: center;font-size:18px;">Current weather conditions:</h5>
            <img src="http://openweathermap.org/img/wn/<%= wx.conditions.iconCode ;%>@2x.png"
                 class="card-image-top"
                 alt="icon depicting <%= wx.conditions.conditionDescription ;%>"
                 style="max-width: 100px;">
            <div class="card-body">
                <h5> <%= wx.conditions.condition ;%> (<%= wx.conditions.conditionDescription ;%>)</h5>
                <hr>
                <p class="card-text" style="font-size:16px;">Wax recommendation:
                    <span style="color: <%= wx.waxColor[0] ;%>">
                    <%= wx.waxColor[1] ;%>
                </span>
                </p>
                <a href="#" class="btn btn-primary"> <%= wx.conditions.iconCode2 ;%> </a>
            </div>
        </div>

        <div class="card col-md-6 current-conditions" style="font-size:18px;">
            <div class="card-body conditions-card" style="display:flex;flex-direction: row; justify-content: space-between">
                <p class="col-md-6 card-title">Current Temps</p>
                <p class="col-md-6 card-text"><%= wx.temps.currentTempF ;%>F / <%= wx.temps.currentTempC ;%>C</p>
            </div>
            <div class="card-body conditions-card" style="display:flex;flex-direction: row; justify-content: space-between">
                <p class="col-md-6 card-title">High</p>
                <p class="col-md-6 card-text"><%= wx.temps.tempHighF ;%>F/ <%= wx.temps.tempHighC ;%>C</p>
            </div>
            <div class="card-body conditions-card" style="display:flex;flex-direction: row; justify-content: space-between">
                <p class="col-md-6 card-title">Low</p>
                <p class="col-md-6 card-text"><%= wx.temps.tempLowF ;%>F / <%= wx.temps.tempLowC ;%>C</p>
            </div>
            <div class="card-body conditions-card" style="display:flex;flex-direction: row; justify-content: space-between">
                <p class="col-md-6 card-title">Feels like</p>
                <p class="col-md-6 card-text"><%= wx.temps.feelsLikeF ;%>F / <%= wx.temps.feelsLikeC ;%>C</p>
            </div>
            <div class="card-body conditions-card" style="display:flex;flex-direction: row; justify-content: space-between">
                <p class="col-md-6 card-title">Wind</p>
                <p class="col-md-6 card-text"><%= wx.conditions.windSpeedMps ;%> m/s <%= wx.conditions.windDirection ;%></p>
            </div>
            <div class="card-body conditions-card" style="display:flex;flex-direction: row; justify-content: space-between">
                <p class="col-md-6 card-title">Humidity</p>
                <p class="col-md-6 card-text"><%= wx.conditions.humidityPercentage ;%>%</p>
            </div>
            <div class="card-body conditions-card" style="display:flex;flex-direction: row; justify-content: space-between">
                <p class="col-md-6 card-title">Pressure</p>
                <p class="col-md-6 card-text"><%= wx.conditions.pressureMillibars ;%> hPa</p>
            </div>
            <div class="card-body conditions-card" style="display:flex;flex-direction: row; justify-content: space-between">
                <p class="col-md-6 card-title">Sunrise</p>
                <p class="col-md-6 card-text"><%= wx.sunrise ;%></p>
            </div>
            <div class="card-body conditions-card" style="display:flex;flex-direction: row; justify-content: space-between">
                <p class="col-md-6 card-title">Sunset</p>
                <p class="col-md-6 card-text"><%= wx.sunset ;%> </p>
            </div>
        </div>
    </div>
    <hr>
    <div class="forecast-body">
        <h3>5-Day Forecast (WIP)</h3>
        <div class="row">
            <div class="col-md-12">
                <% fa.forEach((forecast)=> { %>
                    <div>
                        <h3><%= forecast.date ;%></h3>
                        <div style="display: flex;">
                            <% forecast.forecasts.forEach((hourly)=> { %>
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title"><%= hourly.date ;%></h5>
                                        <h5 class="card-title"><%= hourly.time ;%></h5>
                                        <p class="card-text">
                                            <img src="http://openweathermap.org/img/wn/<%= hourly.weather.iconCode %>.png"
                                                 alt="icon showing <%= hourly.weather.description %>">
                                        </p>
                                        <p class="card-text">Conditions: <%= hourly.weather.main %>
                                            (<%= hourly.weather.description ;%>)</p>
                                        <p class="card-text">Temp: <%= hourly.main.tempF ;%>F / <%= hourly.main.tempC %>
                                            C</p>
                                        <p class="card-text">Feels like: <%= hourly.main.feelsLikeF %>F
                                            / <%= hourly.main.feelsLikeF ;%>C</p>
                                        <p class="card-text">Humidity: <%= hourly.main.humidityPercentage %>%</p>
                                        <p class="card-text">Wind: <%= hourly.wind.speedMps %>
                                            m/s <%= hourly.wind.direction %></p>
                                        <p class="card-text">
                                            Snow: <%= hourly.snow.snow3hr ? hourly.snow.snow3hr : hourly.snow %></p>
                                    </div>
                                </div>
                            <% }); %>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>
