extends layout

block content

    div(class="container")
        h1= title
        h2 Weather in #[a(href=`${wx.mapUrl}`) !{wx.location.name}, !{wx.location.state}] (!{wx.location.county}, !{wx.location.country})

        h3
            a(href="/") ← Back

        img(src=`http://openweathermap.org/img/wn/${wx.conditions.iconCode}.png`)

        p !{wx.conditions.iconCode2}

        h4 Weather conditions: !{wx.conditions.condition} (!{wx.conditions.conditionDescription}).
        p(style="font-size:16px;font-weight:bold;") Wax recommendation: #[span(style=`color: ${wx.waxColor[0]}`) !{wx.waxColor[1]}]

        table(style="width:100%; font-size:18px;")
            tr(style="border-bottom: 1px solid black;")
                th Current
                td !{wx.temps.currentTempF}F / !{wx.temps.currentTempC}C
            tr(style="border-bottom: 1px solid black;")
                th High
                td !{wx.temps.tempHighF}F/ !{wx.temps.tempHighC}C
            tr(style="border-bottom: 1px solid black;")
                th Low
                td !{wx.temps.tempLowF}F / !{wx.temps.tempLowC}C
            tr(style="border-bottom: 1px solid black;")
                th Feels like
                td !{wx.temps.feelsLikeF}F / !{wx.temps.feelsLikeC}C
            tr(style="border-bottom: 1px solid black;")
                th Wind
                td !{wx.conditions.windSpeed} m/s !{wx.conditions.windDirection}
            tr(style="border-bottom: 1px solid black;")
                th Humidity
                td !{wx.conditions.humidity}%
            tr(style="border-bottom: 1px solid black;")
                th Pressure
                td !{wx.conditions.pressure} hPa
            tr(style="border-bottom: 1px solid black;")
                th Sunrise
                td !{wx.sunrise}
            tr(style="border-bottom: 1px solid black;")
                th Sunset
                td !{wx.sunset}

        hr

        h3 5-Day Forecast (every 3 hrs)

        table(style='width:100%;font-size:18px;border: 1px solid black;')
            tr
                th(style="border-bottom: 1px solid black;") datetime
                th(style="border-bottom: 1px solid black;") Temp
                th(style="border-bottom: 1px solid black;") Humidity
                th(style="border-bottom: 1px solid black;") Wind
                th(style="border-bottom: 1px solid black;") Icon
                th(style="border-bottom: 1px solid black;") Conditions
                th(style="border-bottom: 1px solid black;") Snow?
            for forecast in fa
                tr
                    td(style="border-bottom: 1px solid black;") !{forecast.date} !{forecast.time}
                    td(style="border-bottom: 1px solid black;") !{forecast.main.tempF}F / !{forecast.main.tempC}C
                    td(style="border-bottom: 1px solid black;") !{forecast.main.humidity}%
                    td(style="border-bottom: 1px solid black;") !{forecast.wind.speed} m/s !{forecast.wind.direction}
                    td(style="border-bottom: 1px solid black;")
                        img(src=`http://openweathermap.org/img/wn/${forecast.weather.iconCode}.png`)
                    td(style="border-bottom:1px solid black;") !{forecast.weather.main} (!{forecast.weather.description})
                    td(style="border-bottom:1px solid black;") !{forecast.snow}

